<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
    <nav>
        <a href="/home">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beer">Random Beer</a>
    </nav>
</head>
<body>
    <div>
    <img src="/public/images/beer.png" alt="Beer">
    <a href="/beers">Check the Beers!"</a>
    <a href="/random-beer">Check a Random Beer!</a>
    </div>
</body>
</html>